<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppTest.Properties.Settings.FlightReservationConnectionString"
            connectionString="Data Source=LAPTOP-H6PI0HTC;Initial Catalog=FlightReservation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AppTest.Properties.Settings.FlightReservationConnectionString1"
            connectionString="Data Source=DESKTOP-C145KAF;Initial Catalog=FlightReservation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>